
.icon-position {
  float: right;
  display: block;
  margin-right: 15px;
  font-size: 24px;
}

.header-para {
  font-size: 18px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}