@import '../../theme/variables.scss';

.custom-avatar {
  margin: auto;
  background-color: white;
  height: 3.5rem;
  width: 3.5rem;
  margin-bottom: .5rem;
}

.avatar-icon {
  height: 100%;
  color: black;
}