<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-icon size="large" name="refresh-outline" 
      class="ion-margin-start ion-margin-top">
    </ion-icon>
    <div>
      <h6 class="ion-text-center ion-no-margin">
        Wallet balance
      </h6>
      <h2 class="ion-text-center ion-no-margin">
        6,616.58 ETN
      </h2>
      <h6 class="ion-text-center ion-no-margin">
        Available balance: 6,616.58 ETN
      </h6>
    </div>
    
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col>
          <div>
            <ion-avatar class="custom-avatar">
              <ion-icon size="large" name="arrow-up-outline" 
                class="avatar-icon">
              </ion-icon>
            </ion-avatar>
            <span>Pay</span>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-avatar class="custom-avatar">
              <ion-icon size="large" name="arrow-down-outline" 
                class="avatar-icon">
              </ion-icon>
            </ion-avatar>
            <span>Receive</span>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-avatar class="custom-avatar">
              <ion-icon size="large" name="notifications-outline" 
                class="avatar-icon">
              </ion-icon>
            </ion-avatar>
            <span class="ion-margin-bottom">Notifications</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Wallet</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
